//This is the example of variables that can be changed in scss, commented out to have defaults for now


// @forward 'vuetify/settings' with (
//   $color-pack: false,
//   $utilities: false,


//   // examples of variables changes
//   $body-font-family: (
//       'Inter',
//       'Segoe UI',
//       Roboto,
//       Arial,
//       sans-serif,
//     ),
//   $rounded: 10px,
//   $button-height: 20px,
//   $spacer: 2px
// );



